/** Animation styles **/


li
{
	list-style: none;
}

.container {
  position: relative;
  margin: 0 auto;
}
.wrapper {
	min-height: 100%;
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 110%;
	left: -5%;
	top: 0%;
}

.scene, .layer {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.wave1
{
	background-image: url(../img/animation/wave1.png);
  position: absolute;
  top: 0;
  left: -5%;
  right: -5%;
  bottom: 15%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.wave2{
  background-image: url(../img/animation/wave2.png);
  position: absolute;
  top: 0;
  left: -5%;
  right: -5%;
  bottom: 15%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.tree {
  background-image: url(../img/animation/tree.png);
  position: absolute;
  top: -45%;
  left: 20%;
  right: 0%;
  bottom: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.stump {
  background-image: url(../img/animation/stumpy.png);
  position: absolute;
  top: 10%;
  left: 7%;
  right: 10%;
  bottom: 73%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.reeds {
  background-image: url(../img/animation/reedy.png);
  position: absolute;
  top: 0%;
  left: 3%;
  right: 70%;
  bottom: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}

.fishy1 {
  background-image: url(../img/animation/fishy.png);
  position: absolute;
  top: 0%;
  left: 15%;
  right: 77%;
  bottom: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}

.fishy2 {
  background-image: url(../img/animation/fishy2.png);
  position: absolute;
  top: 10%;
  left: 77%;
  right: 15%;
  bottom: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.stork {
  background-image: url(../img/animation/stork.png);
  position: absolute;
  top: -300px;
  left: 10%;
  right: 77%;
  bottom: 650px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}

.sway {
  -webkit-transform-origin: 50% 90%;
  -moz-transform-origin: 50% 90%;
  transform-origin: 50% 90%;
  -webkit-animation: sway 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: sway 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: sway 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
