/** import tha fonts **/
@font-face {
    font-family: 'Pier Sans';
    src: url("../fonts/pier-regular.otf");
}
@font-face {
    font-family: 'Metropolis';
    src: url("../fonts/Metropolis-Medium.otf");
    font-weight: bold;
}
@font-face {
    font-family: 'Metropolis';
    src: url("../fonts/Metropolis-Bold.otf");
    font-weight: bolder;
}
@font-face {
    font-family: 'Metropolis';
    src: url("../fonts/Metropolis-Light.otf");
    font-weight: 100;
}
@font-face {
    font-family: 'Metropolis';
    src: url("../fonts/Metropolis-Regular.otf");
    font-weight: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url("../fonts/Metropolis-ExtraBold.otf");
    font-weight: 500;
}
/*END of fonts*/

html, body {
    max-height: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 0px 0px;
    overflow-x: hidden;
    font-family: 'Metropolis';
}

h2 {
    position: relative;
    margin-top: 75px;
}

h3 {
  font-size: 36px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 40px 0;
}

p {
  font-weight: 100;
  font-size: 18px;
}

.container-fluid {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #6d6c6c;
}

p a:hover {
  opacity: 0.6;
  border-bottom: 2px solid currentColor;
}

img.logo {
  display: none;
}

h2.name {
  display: none;
}

h4.date {
  display: none;
}

#sponsors-email a {
    text-decoration: none;
    color: #3FABE5;
}

#sponsors-email a:hover {
    text-decoration: none;
}

.text-box span {
  color: #b6e9e4;
}

.text-box p {
  padding: 0 8px;
  margin-bottom: 20px;
}

.text-paragraph {
  margin: 40px 0;
  padding-bottom: 5%;
}

.text-box {
  width: 840px;
}

.text-third {
  display: table-cell;
  padding: 20px;
  /*width: 300px;*/
}

.divider {
  width: 100vw;
}

.blocks {
  padding: 0 140px;
  text-align: center;
  display: table;
  margin-top: -100px;
}

.navbar {
    background-color: #49ace7;
    border-color: none;
    border: none;
    margin-left: 0;
    font-size: 20px;
    font-weight: bolder;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(73,172,231,0.28);
    -moz-box-shadow: 0px 4px 0px 0px rgba(73,172,231,0.28);
    box-shadow: 0px 4px 0px 0px rgba(10,135,198,0.2);
    transition: top 0.4s ease-in-out,
                font-size 0.4s ease-in-out,
                background-color 0.4s ease-in-out,
                box-shadow 0.4s ease-in-out,
                margin-left 0.4s ease-in-out;
}

.navbar-right {
  margin-right: -310px;
  transition: margin-right 0.4s ease-in-out;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle {
  margin-right: 30px;
}

.nav.navbar-nav li {
  margin: 10px 10px;
}

.nav-left li a {
   color: #fff !important;
 }

 .nav-left a:hover, #mlh-link a:hover {
   opacity: 0.6;
 }

.nav.navbar-nav li a:hover, a:focus, a:active
 {
 color: white;
}

.nav-up {
  top: -74px;
}

.nav-top {
  background-color: transparent;
  font-size: 20px;
  margin-left: -110px;
  box-shadow: none;
}

.nav-top .navbar-right{
  margin-right: -60px;
}

.nav-apply {
  pointer-events: all;
  opacity: 1;
  background-color: white;
  border-radius: 30px;
  margin-top: 14px !important;
  transition: opacity 0.4s ease-in-out;
}

.nav-apply a {
  color: #49ace7 !important;
  font-size: 18px !important;
  padding: 10px 20px !important;
  border-radius: 30px;
  transition: box-shadow 0.2s ease-in-out;
}

.nav-apply a:hover{
  background-color: #49ace7 !important;
  color: white !important;
  -webkit-box-shadow:inset 0px 0px 0px 3px white;
  -moz-box-shadow:inset 0px 0px 0px 3px white;
  box-shadow:inset 0px 0px 0px 3px white !important;
}

.nav-top .nav-apply {
  pointer-events: none;
  opacity: 0;
}

.navbar-header {
  height: 100%;
}

.navbar-brand img{
  margin-top: 4px;
  margin-left: 14px;
  width: 70px;
}

#mlh-link {
  font-size: 18px;
}

#mlh-link a {
  color: white !important;
}

#mlh-link img {
  margin-top: -4px;
  height: 16px;
  margin-right: 6px;
}

#mlh-link .dell {
  height: 20px;
  margin-left: 4px;
}

/**.container {
    position: relative;
    padding: 100px;
    padding-top: 20px;
}**/

.day
{
    background: -moz-linear-gradient(45.93% -26.17% -84.79deg, rgba(72, 216, 239, 1) 0%, rgba(211, 237, 225, 1) 100%);
    background: -webkit-gradient(linear, 45.93% -26.17%, 53.3% 111.67%, color-stop(0, rgba(72, 216, 239, 1)), color-stop(1, rgba(211, 237, 225, 1)));
    background: -o-linear-gradient(-84.79deg, rgba(72, 216, 239, 1) 0%, rgba(211, 237, 225, 1) 100%);
    background: -ms-linear-gradient(-84.79deg, rgba(72, 216, 239, 1) 0%, rgba(211, 237, 225, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#48D8EF', endColorstr='#D3EDE1' ,GradientType=0)";
    background: linear-gradient(174.79deg, rgba(72, 216, 239, 1) 0%, rgba(211, 237, 225, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48D8EF', endColorstr='#D3EDE1', GradientType=1);
    background-repeat: no-repeat;
}

.sunset
{
    background : -moz-linear-gradient(52.66% 92.56% 96.09deg,rgba(255, 181, 126, 1) 0%,rgba(255, 51, 80, 1) 100%);
    background : -webkit-linear-gradient(96.09deg, rgba(255, 181, 126, 1) 0%, rgba(255, 51, 80, 1) 100%);
    background : -webkit-gradient(linear,52.66% 92.56% ,46.13% -11.89% ,color-stop(0,rgba(255, 181, 126, 1) ),color-stop(1,rgba(255, 51, 80, 1) ));
    background : -o-linear-gradient(96.09deg, rgba(255, 181, 126, 1) 0%, rgba(255, 51, 80, 1) 100%);
    background : -ms-linear-gradient(96.09deg, rgba(255, 181, 126, 1) 0%, rgba(255, 51, 80, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB57E', endColorstr='#FF3350' ,GradientType=0)";
    background : linear-gradient(-6.09deg, rgba(255, 181, 126, 1) 0%, rgba(255, 51, 80, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB57E',endColorstr='#FF3350' , GradientType=1);
    background-repeat: no-repeat;
}

.night
{
    background : -moz-linear-gradient(45.93% -26.17% -84.79deg,rgba(0, 7, 63, 1) 0%,rgba(88, 89, 121, 1) 100%);
    background : -webkit-linear-gradient(-84.79deg, rgba(0, 7, 63, 1) 0%, rgba(88, 89, 121, 1) 100%);
    background : -webkit-gradient(linear,45.93% -26.17% ,53.3% 111.67% ,color-stop(0,rgba(0, 7, 63, 1) ),color-stop(1,rgba(88, 89, 121, 1) ));
    background : -o-linear-gradient(-84.79deg, rgba(0, 7, 63, 1) 0%, rgba(88, 89, 121, 1) 100%);
    background : -ms-linear-gradient(-84.79deg, rgba(0, 7, 63, 1) 0%, rgba(88, 89, 121, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00073F', endColorstr='#585979' ,GradientType=0)";
    background : linear-gradient(174.79deg, rgba(0, 7, 63, 1) 0%, rgba(88, 89, 121, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00073F',endColorstr='#585979' , GradientType=1);
    background-repeat: no-repeat;
}

.outer {
  margin-top: -140px;
}
.sunrise
{
    background : -moz-linear-gradient(42.11% -10.25% -78.69deg,rgba(251, 176, 64, 1) 0%,rgba(239, 65, 54, 1) 100%);
    background : -webkit-linear-gradient(-78.69deg, rgba(251, 176, 64, 1) 0%, rgba(239, 65, 54, 1) 100%);
    background : -webkit-gradient(linear,42.11% -10.25% ,65.13% 165.57% ,color-stop(0,rgba(251, 176, 64, 1) ),color-stop(1,rgba(239, 65, 54, 1) ));
    background : -o-linear-gradient(-78.69deg, rgba(251, 176, 64, 1) 0%, rgba(239, 65, 54, 1) 100%);
    background : -ms-linear-gradient(-78.69deg, rgba(251, 176, 64, 1) 0%, rgba(239, 65, 54, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBB040', endColorstr='#EF4136' ,GradientType=0)";
    background : linear-gradient(168.69deg, rgba(251, 176, 64, 1) 0%, rgba(239, 65, 54, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBB040',endColorstr='#EF4136' , GradientType=1);
    background-repeat: no-repeat;
}

#audience .col-md-4 {
  padding: 20px;
  /*min-height: 300px;*/
}

#audience .col-md-12 {
  padding: 30px;
  background-color: white;
  color: #6addec;
  /*min-height: 300px;*/
  border-radius: 40px;
}

#audience .blocks h3 {
  margin: 0;
  margin-top: 12px;
}

#audience h4 {
  font-size: 20px;
  font-weight: 100;
  margin-top: 4px;
  margin-bottom: 20px;
}

#schedule .col-md-12 {
    border-radius: 6px;
    border: 2px solid blue;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    background: red;
    position: relative;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.white-divider {
  width: 100%;
  margin-bottom: -100px;
}

.header-text {
  text-align: center;
  top: 100px;
}

.name {
    margin-top: 12%;
  color: white;
}

.date {
  color: white;
}

.logo {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -75%;
    bottom: 0;
}

#title {
  height: 600px;
}

#mlh-link {
    margin-right: 3em;
}

#summary {
  background-color: #6badf1;
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

#summary .text-box {
  padding-bottom: 0;
}

#audience {
  background: -webkit-linear-gradient(left top, #5bdbec, #b2e8e4);
  background: -moz-linear-gradient(bottom right, blue, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #5bdbec, #b2e8e4); /* Standard syntax */  text-align: center;
  color: white;
  padding-bottom: 200px;
  padding-top: 14%;
}

#faqs {
  text-align: center;
  padding-top: 0px;
  background-color: #5cacef;
  color: white;
}

#faqs .faq-table {
  padding: 0 200px;
  text-align: left;
}

#faqs .faq-block {
  background-color: white;
  color: black;
  padding: 12px 30px;
  border-radius: 30px;
  margin-bottom: 20px;
}

#faqs h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 12px;
}

#faqs .faq-block p {
  color: #73aeee;
}


#faq {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background: green;
    background: -webkit-linear-gradient(left top, green, blue);
    background: -moz-linear-gradient(bottom right, blue, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, green, blue); /* Standard syntax */
}

#title button {
  font-size: 20px;
  width: 180px;
  padding: 10px 0;
  font-weight: bold;
  background-color: #fff;
  color: #73aeee;
  border: none;
  border-radius: 50px;
  outline: none;
}

#title button:active {
  font-size: 20px;
  width: 180px;
  padding: 10px 0;
  font-weight: bold;
  background-color: #73aeee;
  color: #fff;
  border: none;
  border-radius: 50px;
  outline: none
}

#title .button-row {
  padding: 0 10%;
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
}

#action {
  text-align: center;
  color: #73aeee;
}

button {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

#title button {
  width: 180px;
  background-color: #fff;
  color: #73aeee;
}

#title button:hover {
  color: white;
  background-color: #73aeee;
  -webkit-box-shadow:inset 0px 0px 0px 3px white;
  -moz-box-shadow:inset 0px 0px 0px 3px white;
  box-shadow:inset 0px 0px 0px 3px white !important;
}

#action button {
    width: 180px;
    background-color: #73aeee;
    color: white;
}

#action .internal-pos {
  color: #5ddbed;
}

#action .internal-pos button {
  background-color: #5ddbed;
}

#action button:hover {
  color: currentColor;
  background-color: white;
  -webkit-box-shadow:inset 0px 0px 0px 3px #73aeee;
  -moz-box-shadow:inset 0px 0px 0px 3px #73aeee;
  box-shadow:inset 0px 0px 0px 3px #73aeee !important;
}

#action .internal-pos button:hover {
  -webkit-box-shadow:inset 0px 0px 0px 3px #5ddbed;
  -moz-box-shadow:inset 0px 0px 0px 3px #5ddbed;
  box-shadow:inset 0px 0px 0px 3px #5ddbed !important;
}


#action .button-row {
  padding: 0 10%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#action .container {
  padding-bottom: 0;
}

.blue-teal {
  margin-top: -1px;
  margin-bottom: -16%;
}

#footer {
  background-color: #77e0ed;
  background: -webkit-linear-gradient(left top, yellow, purple);
  background: -moz-linear-gradient(bottom right, purple, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #47d8ef, #8be2e8); /* Standard syntax */
}

#footer .container {
  padding: 20px 20px;
  padding-bottom: 30px;
}

#footer .social-media {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in-out;
}

#footer .social-row {
  padding: 0 40px;
  position: relative;
  top: 60px;
  transform: translateY(-50%);
}

#footer .social-row .fa {
  display: block;
  text-align: center;
  padding-top: 13px;
  font-size: 34px;
  color: #5ddbed;
}

#footer .social-row .fa-envelope {
  font-size: 30px;
}

#footer a:hover .social-media {
  background-color: #5ddbed;
  -webkit-box-shadow:inset 0px 0px 0px 3px white;
  -moz-box-shadow:inset 0px 0px 0px 3px white;
  box-shadow:inset 0px 0px 0px 3px white !important;
}

#footer a:hover .fa {
  color: white;
}

#footer .links {
  text-align: right;
  position: relative;
  top: 60px;
  transform: translateY(-50%);
  padding-right: 50px;
}

.links h4 {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

#footer .links a:hover h4 {
  opacity: 0.6;
  text-decoration: underline;
}

.heart-container {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.heart i {
  color: #FF4D40;
  text-decoration: none;
}
.heart .fa {
  color: white;
  margin: 0 3px;
  animation: pound 0.5s infinite alternate;
  -webkit-animation: pound 0.5s infinite alternate;
  transition: font-size 0.5s ease-in-out;
}

.heart a:hover {
  color: currentColor;
}

.heart a:hover .fa{
  font-size: 20px;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.2);
  }
}
@keyframes pound {
  to {
    transform: scale(1.2);
  }
}

.top {
  margin-bottom: -4px;
  margin-top: -300px;
}

.lower {
  margin-top: 0;
}

#schedule {
    text-align: center;
    background: #5aef9a;
    color: white;
    background: -webkit-linear-gradient(left top, yellow, purple);
    background: -moz-linear-gradient(bottom right, purple, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #7eedbc, #5dec9a); /* Standard syntax */

}

#schedule .event-schedule-table h3 {
  font-size: 28px;
  font-weight: bolder;
  margin: 20px 0;
  margin-top: 40px;
}

#schedule .event-schedule-table {
  padding: 0 200px;
  text-align: left;
  margin-top: -3%;
}

#schedule .col-x-6 {
  padding: 20px;
  width: 49.5%;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

#schedule .event-day {
  background-color: white;
  padding: 10px 0;
  border-radius: 30px;
}

#schedule .event-block {
  color: black;
  padding: 12px 30px;
  margin-bottom: 0px;
  width: 100%;
}

.event-block .left {
  padding: 0;
}

.event-block .right {
  padding: 0;
  height: 100%;
}

#schedule h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 6px;
}

#schedule h6 {
  margin: 6px 0;
  font-size: 14px;
  font-weight: normal;
  opacity: 0.4;
}

#schedule h5 {
  font-weight: bolder;
  font-size: 20px;
  margin: 6px 0;
  color: #7dedbb;
  text-align: right;
}

#sponsors {
    text-align: center;
    color: #42ace5;
}

#sponsors .text-box {
  padding-bottom: 10px;
}

#sponsors .sponsors-table {
  padding: 0 140px;
}

#sponsors .row {
  margin-bottom: 100px;
}

#sponsors .gator img {
  width: 600px;
}

#sponsors .heron img {
  margin: 0 30px;
  width: 380px;
}

#sponsors .turtle img {
  margin: 0 20px;
  width: 260px;
}

#sponsors .lily-pad img {
  margin: 0 16px;
  width: 180px;
}

#sponsors .interest {
  margin-top: -140px;
}

.homepage-logo {
    max-height: 55%;
    max-width: 55%;
    margin-top: 5em !important;
    display: block;
    margin: auto;
}

#typed {
    text-align: center;
}

#footer .footer-logo {
  display: block;
  width: 200px;
  margin: auto;
}

@media screen and (max-width:770px){
  .container {
    padding: 20px;
  }

  .text-box {
    width: 100%;
  }

  .navbar {
    overflow-y: hidden;
  }

  .nav-top {
    /*background-color: #49ace7;*/
    background-color: transparent;
    margin-left: 0px;
  }

  .nav-top #navbar {
    background-color: #49ace7 !important;
  }

  .nav-up {
    top: -52px;
  }

  .nav-apply, .nav-top .nav-apply {
    margin-left: 20px !important;
    opacity: 1;
    pointer-events: all;
    width: 110px;
  }

  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:hover {
    border-width: 0px;
    background-color: transparent;
  }

  .navbar-collapse {
    border-top: 0px;
  }

  .navbar-header {
    transition: background-color 0.3s ease-in-out;
  }

  .nav-top-collapse {
    background-color: #49ace7 !important;
  }

  .navbar-brand img {
    margin-top: -6px;
    margin-left: 0px;
    transition: margin-left 0.4s ease-in-out;
  }

  .nav-top .navbar-brand img {
    margin-left: -90px;
  }

  .nav-top .navbar-right, .navbar-right {
    margin-right: 0px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .blocks {
    padding: 0 30px;
    margin-top: -50px;
    }

  .outer {
    margin-top: 0px;
  }

  .top {
    margin-top: -100px;
  }

  .grav {
    margin-bottom: -2px;
  }

  #audience {
    padding-bottom: 90px;
  }

  #audience .col-md-12 {
    padding: 20px;
  }

  #audience .text-box {
    padding-bottom: 0;
  }

  #audience .col-md-4 {
    padding: 10px 20px;
  }

  #audience .blocks h3 {
    font-size: 34px;
  }

  #schedule {
    padding-bottom: 20px;
  }

  #schedule .event-schedule-table {
    padding-left: 40px;
    padding-right: 40px;
    white-space: nowrap;
    overflow-x: scroll !important;
    position: relative;
    margin-top: -40px;
  }

  #schedule .col-x-6 h3 {
    font-size: 24px;
    margin-top: 20px;
  }

  #schedule h4 {
    white-space:normal;
    font-size: 18px;
  }

  #schedule h5 {
    text-align: left;
    margin: 0;
    font-size: 18px;
  }

  #schedule h6 {
    font-size: 14px;
  }

  #schedule .event-block {
    padding: 6px 30px;
  }

  #schedule .col-x-6 {
    padding: 20px;
    min-width: 310px;
    max-width: 40%;
    padding: 10px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }

  #schedule .right-day {
    margin-right: 40px;
  }

  #sponsors .sponsors-table {
    padding: 0 30px;
  }

  #sponsors .row {
    margin-bottom: 30px;
  }

  #sponsors .gator img {
    max-width: 320px;
  }

  #sponsors .heron img {
    max-width: 240px;
    margin: 5px 30px;
  }

  #sponsors .turtle img {
    max-width: 180px;
    margin: 5px 30px;
  }

  #sponsors .lily-pad img {
    width: 140px;
    margin: 5px 10px;
  }

  #sponsors .interest {
    margin-top: -60px;
  }

  #sponsors .interest h3 {
    margin-bottom: 10px;
  }

  #faqs .faq-table {
    padding: 0 20px;
    margin-top: 0;
  }

  #faqs h4 {
    font-size: 18px;
  }

  #faqs p {
    font-size: 14px;
  }

  #action .involved {
    margin-bottom: 20px;
  }

  #action .button-row {
    margin-bottom: 20px;
  }

  #footer .social-row {
    top: 0;
  }

  #footer img {
    width: 100%;
    margin: 30px auto 2px;
  }

  #footer .social-row {
    padding: 0;
  }

  #footer .social-media {
    margin: auto;
  }

  #footer .links {
    text-align: center;
    padding: 0;
    top: 70px;
  }


}
