/** Parallax styles **/

li
{
	list-style: none;
}

.parallax-container
{
	position: relative;
	height: 100%;
	width: 100%;
}

#title
{
  background : -moz-linear-gradient(45.93% -26.17% -84.79deg,rgba(72, 216, 239, 1) 0%,rgba(211, 237, 225, 1) 100%);
  background : -webkit-linear-gradient(-84.79deg, rgba(72, 216, 239, 1) 0%, rgba(211, 237, 225, 1) 100%);
  background : -webkit-gradient(linear,45.93% -26.17% ,53.3% 111.67% ,color-stop(0,rgba(72, 216, 239, 1) ),color-stop(1,rgba(211, 237, 225, 1) ));
  background : -o-linear-gradient(-84.79deg, rgba(72, 216, 239, 1) 0%, rgba(211, 237, 225, 1) 100%);
  background : -ms-linear-gradient(-84.79deg, rgba(72, 216, 239, 1) 0%, rgba(211, 237, 225, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#48D8EF', endColorstr='#D3EDE1' ,GradientType=0)";
  background : linear-gradient(174.79deg, rgba(72, 216, 239, 1) 0%, rgba(211, 237, 225, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48D8EF',endColorstr='#D3EDE1' , GradientType=1);
  background-repeat: no-repeat;
}

#wave1
{
	position: absolute;
	bottom: -50px;
	left: 0px;
	width: 100%;
}

#wave2
{
	position: absolute;
	bottom: -50px;
	right: 0px;
	width: 100%;
}

#fishy
{
	position: absolute;
	margin-left: -10%;
	max-width: 15%;
	max-height: 15%;
	bottom: 0;
}

#tree 
{
	position: absolute;
	right: 0;
	height: 100%;
	bottom: 50px;
}

#stump
{
	position: absolute;
	right: 150px;
	bottom: 100px;
	max-width: 20%;
	max-height: 20%;
}

#gator
{
	position: absolute;
	margin-left: 31%;
	bottom: 110px;
}

#stork
{
	position: absolute;
	top: -30px;
}

