html, body
{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

label, input
{
    display: block;
}

.row
{
	margin-bottom: 3em;
}

#email
{
    margin-bottom: 1em;
}

#password
{
    margin-bottom: 1em;
}

#submit-info
{
	margin-left: 3%;
	position: relative;
}