/** TEAM PAGE STYLES **/
.our-team {
	text-align: center;
}

.organizers img {
  max-width: 40%;
  max-height: 40%;
}

.directors img {
  max-width: 50%;
  max-height: 50%;
}

.members img {
  max-width: 75%;
  max-height: 75%;
}

.directors p {
  font-size: 16px;
}

.members p {
  font-size: 14px;
}

.members-text {
  text-align: center;
}

.gif {
	text-align: center;
}

.giffy {
	border-radius: 200px;
	max-height: 30%;
	max-width: 30%;
	margin: auto;
}

.individual {
	border-radius: 200px;
	max-height: 55%;
	max-width: 55%;
	margin: auto;
}

.role {
  margin-top: .5em;
}

.col-md-2 {
  left: -40px;
}
